1590BB_potentiometer_board_18_3x17_r1a/fp-info-cache
1590BB_potentiometer_board_18_3x17_r1a/todo.txt
1590BB_potentiometer_board_18_3x17_r1a/1590BB_potentiometer_board_18_3x17_r1a-cache.lib
1590BB_potentiometer_board_18_3x17_r1a/1590BB_potentiometer_board_18_3x17_r1a.kicad_pcb-bak
1590BB_potentiometer_board_18_3x17_r1a/1590BB_potentiometer_board_18_3x17_r1a.sch-bak
1590BB_potentiometer_board_18_3x17_dual-single-single_r1a/fp-info-cache
1590BB_potentiometer_board_18_3x17_dual-single-single_r1a/todo.txt
1590BB_potentiometer_board_18_3x17_dual-single-single_r1a/1590BB_potentiometer_board_18_3x17_dual-single-single_r1a-cache.lib
1590BB_potentiometer_board_18_3x17_dual-single-single_r1a/1590BB_potentiometer_board_18_3x17_dual-single-single_r1a.kicad_pcb-bak
1590BB_potentiometer_board_18_3x17_dual-single-single_r1a/1590BB_potentiometer_board_18_3x17_dual-single-single_r1a.sch-bak
1590BB2_connector_board_extended_r1a/fp-info-cache
1590BB2_connector_board_extended_r1a/todo.txt
1590BB2_connector_board_extended_r1a/1590BB2_connector_board_extended_r1a-cache.lib
1590BB2_connector_board_extended_r1a/1590BB2_connector_board_extended_r1a.kicad_pcb-bak
1590BB2_connector_board_extended_r1a/1590BB2_connector_board_extended_r1a.sch-bak
1590BB2_potentiometer_board_18_3x17_r1a/fp-info-cache
1590BB2_potentiometer_board_18_3x17_r1a/todo.txt
1590BB2_potentiometer_board_18_3x17_r1a/1590BB2_potentiometer_board_18_3x17_r1a-cache.lib
1590BB2_potentiometer_board_18_3x17_r1a/1590BB2_potentiometer_board_18_3x17_r1a.kicad_pcb-bak
1590BB2_potentiometer_board_18_3x17_r1a/1590BB2_potentiometer_board_18_3x17_r1a.sch-bak
1590N1_connector_board_r1a/fp-info-cache
1590N1_connector_board_r1a/todo.txt
1590N1_connector_board_r1a/1590N1_connector_board_r1a-cache.lib
1590N1_connector_board_r1a/1590N1_connector_board_r1a.kicad_pcb-bak
1590N1_connector_board_r1a/1590N1_connector_board_r1a.sch-bak
1590N1_connector_board_r1b/fp-info-cache
1590N1_connector_board_r1b/todo.txt
1590N1_connector_board_r1b/1590N1_connector_board_r1b-cache.lib
1590N1_connector_board_r1b/1590N1_connector_board_r1b.kicad_pcb-bak
1590N1_connector_board_r1b/1590N1_connector_board_r1b.sch-bak
1590N1_potentiometer_board_18_2x17_r1a/fp-info-cache
1590N1_potentiometer_board_18_2x17_r1a/todo.txt
1590N1_potentiometer_board_18_2x17_r1a/1590N1_potentiometer_board_18_2x17_r1a-cache.lib
1590N1_potentiometer_board_18_2x17_r1a/1590N1_potentiometer_board_18_2x17_r1a.kicad_pcb-bak
1590N1_potentiometer_board_18_2x17_r1a/1590N1_potentiometer_board_18_2x17_r1a.sch-bak
1590N1_potentiometer_board_18_2x17_r1b/fp-info-cache
1590N1_potentiometer_board_18_2x17_r1b/todo.txt
1590N1_potentiometer_board_18_2x17_r1b/1590N1_potentiometer_board_18_2x17_r1b-cache.lib
1590N1_potentiometer_board_18_2x17_r1b/1590N1_potentiometer_board_18_2x17_r1b.kicad_pcb-bak
1590N1_potentiometer_board_18_2x17_r1b/1590N1_potentiometer_board_18_2x17_r1b.sch-bak
1590N1_potentiometer_board_18_3x17_r1/fp-info-cache
1590N1_potentiometer_board_18_3x17_r1/todo.txt
1590N1_potentiometer_board_18_3x17_r1/1590N1_potentiometer_board_18_3x17_r1-cache.lib
1590N1_potentiometer_board_18_3x17_r1/1590N1_potentiometer_board_18_3x17_r1.kicad_pcb-bak
1590N1_potentiometer_board_18_3x17_r1/1590N1_potentiometer_board_18_3x17_r1.sch-bak
big_muff_r2a/todo.txt
big_muff_r2a/bass/fp-info-cache
big_muff_r2a/bass/big_muff_r2a_bass-cache.lib
big_muff_r2a/bass/big_muff_r2a_bass.kicad_pcb-bak
big_muff_r2a/bass/big_muff_r2a_bass.sch-bak
big_muff_r2a/nyc/fp-info-cache
big_muff_r2a/nyc/big_muff_r2a_nyc-cache.lib
big_muff_r2a/nyc/big_muff_r2a_nyc.kicad_pcb-bak
big_muff_r2a/nyc/big_muff_r2a_nyc.sch-bak
big_muff_r3a/todo.txt
big_muff_r3a/bass/fp-info-cache
big_muff_r3a/bass/big_muff_r3a_bass-cache.lib
big_muff_r3a/bass/big_muff_r3a_bass.kicad_pcb-bak
big_muff_r3a/bass/big_muff_r3a_bass.sch-bak
big_muff_r3a/nyc/fp-info-cache
big_muff_r3a/nyc/big_muff_r3a_nyc-cache.lib
big_muff_r3a/nyc/big_muff_r3a_nyc.kicad_pcb-bak
big_muff_r3a/nyc/big_muff_r3a_nyc.sch-bak
crumbwave_multiplexer_r1a/fp-info-cache
crumbwave_multiplexer_r1a/todo.txt
crumbwave_multiplexer_r1a/crumbwave_multiplexer_r1a-cache.lib
crumbwave_multiplexer_r1a/crumbwave_multiplexer_r1a.kicad_pcb-bak
crumbwave_multiplexer_r1a/crumbwave_multiplexer_r1a.sch-bak
deep_blue_delay_r3b/fp-info-cache
deep_blue_delay_r3b/todo.txt
deep_blue_delay_r3b/deep_blue_delay_r3b-cache.lib
deep_blue_delay_r3b/deep_blue_delay_r3b.kicad_pcb-bak
deep_blue_delay_r3b/deep_blue_delay_r3b.sch-bak
distortion_+_r2a/fp-info-cache
distortion_+_r2a/todo.txt
distortion_+_r2a/distortion_+_r2a-cache.lib
distortion_+_r2a/distortion_+_r2a.kicad_pcb-bak
distortion_+_r2a/distortion_+_r2a.sch-bak
edamamer_r1a/fp-info-cache
edamamer_r1a/todo.txt
edamamer_r1a/edamamer_r1a-cache.lib
edamamer_r1a/edamamer_r1a.kicad_pcb-bak
edamamer_r1a/edamamer_r1a.sch-bak
fishtaur_r1a/fp-info-cache
fishtaur_r1a/todo.txt
fishtaur_r1a/fishtaur_r1a-cache.lib
fishtaur_r1a/fishtaur_r1a.kicad_pcb-bak
fishtaur_r1a/fishtaur_r1a.sch-bak
fuzz_factory_r1b_r1b/fp-info-cache
fuzz_factory_r1b_r1b/todo.txt
fuzz_factory_r1b_r1b/fuzz_factory_r1b_r1b-cache.lib
fuzz_factory_r1b_r1b/fuzz_factory_r1b_r1b.kicad_pcb-bak
fuzz_factory_r1b_r1b/fuzz_factory_r1b_r1b.sch-bak
fuzz_factory_r1c_r1b/fp-info-cache
fuzz_factory_r1c_r1b/todo.txt
fuzz_factory_r1c_r1b/fuzz_factory_r1c_r1b-cache.lib
fuzz_factory_r1c_r1b/fuzz_factory_r1c_r1b.kicad_pcb-bak
fuzz_factory_r1c_r1b/fuzz_factory_r1c_r1b.sch-bak
fuzz_factory_r1d_r1c/fp-info-cache
fuzz_factory_r1d_r1c/todo.txt
fuzz_factory_r1d_r1c/fuzz_factory_r1d_r1c-cache.lib
fuzz_factory_r1d_r1c/fuzz_factory_r1d_r1c.kicad_pcb-bak
fuzz_factory_r1d_r1c/fuzz_factory_r1d_r1c.sch-bak
good_grief_overdrive_r1a/fp-info-cache
good_grief_overdrive_r1a/todo.txt
good_grief_overdrive_r1a/good_grief_overdrive_r1a-cache.lib
good_grief_overdrive_r1a/good_grief_overdrive_r1a.kicad_pcb-bak
good_grief_overdrive_r1a/good_grief_overdrive_r1a.sch-bak
good_grief_overdrive_r1b/fp-info-cache
good_grief_overdrive_r1b/todo.txt
good_grief_overdrive_r1b/good_grief_overdrive_r1b-cache.lib
good_grief_overdrive_r1b/good_grief_overdrive_r1b.kicad_pcb-bak
good_grief_overdrive_r1b/good_grief_overdrive_r1b.sch-bak
little_angel_chorus_r1a/fp-info-cache
little_angel_chorus_r1a/todo.txt
little_angel_chorus_r1a/little_angel_chorus_r1a-cache.lib
little_angel_chorus_r1a/little_angel_chorus_r1a.kicad_pcb-bak
little_angel_chorus_r1a/little_angel_chorus_r1a.sch-bak
potentiometer_board_18_1x17_r1a/fp-info-cache
potentiometer_board_18_1x17_r1a/todo.txt
potentiometer_board_18_1x17_r1a/potentiometer_board_18_1x17_r1a-cache.lib
potentiometer_board_18_1x17_r1a/potentiometer_board_18_1x17_r1a.kicad_pcb-bak
potentiometer_board_18_1x17_r1a/potentiometer_board_18_1x17_r1a.sch-bak
potentiometer_board_20_1x17_r1a/fp-info-cache
potentiometer_board_20_1x17_r1a/todo.txt
potentiometer_board_20_1x17_r1a/potentiometer_board_20_1x17_r1a-cache.lib
potentiometer_board_20_1x17_r1a/potentiometer_board_20_1x17_r1a.kicad_pcb-bak
potentiometer_board_20_1x17_r1a/potentiometer_board_20_1x17_r1a.sch-bak
salty_phaser_r1a/fp-info-cache
salty_phaser_r1a/todo.txt
salty_phaser_r1a/salty_phaser_r1a-cache.lib
salty_phaser_r1a/salty_phaser_r1a.kicad_pcb-bak
salty_phaser_r1a/salty_phaser_r1a.sch-bak
копка_земли_r1a/todo.txt
копка_земли_r1a/down-tuned/fp-info-cache
копка_земли_r1a/down-tuned/копка_земли_r1a_down-tuned-cache.lib
копка_земли_r1a/down-tuned/копка_земли_r1a_down-tuned.kicad_pcb-bak
копка_земли_r1a/down-tuned/копка_земли_r1a_down-tuned.sch-bak
копка_земли_r1a/standard-tuned/fp-info-cache
копка_земли_r1a/standard-tuned/копка_земли_r1a_standard-tuned-cache.lib
копка_земли_r1a/standard-tuned/копка_земли_r1a_standard-tuned.kicad_pcb-bak
копка_земли_r1a/standard-tuned/копка_земли_r1a_standard-tuned.sch-bak
копка_земли_r1b/todo.txt
копка_земли_r1b/down-tuned/fp-info-cache
копка_земли_r1b/down-tuned/копка_земли_r1b_down-tuned-cache.lib
копка_земли_r1b/down-tuned/копка_земли_r1b_down-tuned.kicad_pcb-bak
копка_земли_r1b/down-tuned/копка_земли_r1b_down-tuned.sch-bak
копка_земли_r1b/standard-tuned/fp-info-cache
копка_земли_r1b/standard-tuned/копка_земли_r1b_standard-tuned-cache.lib
копка_земли_r1b/standard-tuned/копка_земли_r1b_standard-tuned.kicad_pcb-bak
копка_земли_r1b/standard-tuned/копка_земли_r1b_standard-tuned.sch-bak
тремоло_саши_огородникова_r1a/fp-info-cache
тремоло_саши_огородникова_r1a/todo.txt
тремоло_саши_огородникова_r1a/тремоло_саши_огородникова_r1a-cache.lib
тремоло_саши_огородникова_r1a/тремоло_саши_огородникова_r1a.kicad_pcb-bak
тремоло_саши_огородникова_r1a/тремоло_саши_огородникова_r1a.sch-bak
тремоло_саши_огородникова_r1b/fp-info-cache
тремоло_саши_огородникова_r1b/todo.txt
тремоло_саши_огородникова_r1b/тремоло_саши_огородникова_r1a-cache.lib
тремоло_саши_огородникова_r1b/тремоло_саши_огородникова_r1a.kicad_pcb-bak
тремоло_саши_огородникова_r1b/тремоло_саши_огородникова_r1a.sch-bak
