ТКП-3.11.A/ТКП-1.11.A-1/fp-info-cache
ТКП-3.11.A/ТКП-1.11.A-1/ТКП-1.11.A-1-cache.lib
ТКП-3.11.A/ТКП-1.11.A-1/ТКП-1.11.A-1.kicad_pcb-bak
ТКП-3.11.A/ТКП-1.11.A-1/ТКП-1.11.A-1.sch-bak


ТКП-3.12.A/ТКП-1.12.A-1/fp-info-cache
ТКП-3.12.A/ТКП-1.12.A-1/ТКП-1.12.A-1-cache.lib
ТКП-3.12.A/ТКП-1.12.A-1/ТКП-1.12.A-1.kicad_pcb-bak
ТКП-3.12.A/ТКП-1.12.A-1/ТКП-1.12.A-1.sch-bak


ТКП-3.13.A/ТКП-1.13.A-1/fp-info-cache
ТКП-3.13.A/ТКП-1.13.A-1/ТКП-1.13.A-1-cache.lib
ТКП-3.13.A/ТКП-1.13.A-1/ТКП-1.13.A-1.kicad_pcb-bak
ТКП-3.13.A/ТКП-1.13.A-1/ТКП-1.13.A-1.sch-bak

ТКП-3.13.A/ТКП-1.13.A-2/fp-info-cache
ТКП-3.13.A/ТКП-1.13.A-2/ТКП-1.13.A-2-cache.lib
ТКП-3.13.A/ТКП-1.13.A-2/ТКП-1.13.A-2.kicad_pcb-bak
ТКП-3.13.A/ТКП-1.13.A-2/ТКП-1.13.A-2.sch-bak


ТКП-3.14.B-ТКП-3.15.B/ТКП-1.14.B-1-ТКП-1.15.B-1/fp-info-cache
ТКП-3.14.B-ТКП-3.15.B/ТКП-1.14.B-1-ТКП-1.15.B-1/ТКП-1.14.B-1-ТКП-1.15.B-1-cache.lib
ТКП-3.14.B-ТКП-3.15.B/ТКП-1.14.B-1-ТКП-1.15.B-1/ТКП-1.14.B-1-ТКП-1.15.B-1.kicad_pcb-bak
ТКП-3.14.B-ТКП-3.15.B/ТКП-1.14.B-1-ТКП-1.15.B-1/ТКП-1.14.B-1-ТКП-1.15.B-1.sch-bak


ТКП-3.14.C-ТКП-3.15.B/ТКП-1.14.C-1-ТКП-1.15.B-1/fp-info-cache
ТКП-3.14.C-ТКП-3.15.B/ТКП-1.14.C-1-ТКП-1.15.B-1/ТКП-1.14.C-1-ТКП-1.15.B-1-cache.lib
ТКП-3.14.C-ТКП-3.15.B/ТКП-1.14.C-1-ТКП-1.15.B-1/ТКП-1.14.C-1-ТКП-1.15.B-1.kicad_pcb-bak
ТКП-3.14.C-ТКП-3.15.B/ТКП-1.14.C-1-ТКП-1.15.B-1/ТКП-1.14.C-1-ТКП-1.15.B-1.sch-bak


ТКП-3.14.D-ТКП-3.15.C/ТКП-1.14.D-1-ТКП-1.15.C-1/fp-info-cache
ТКП-3.14.D-ТКП-3.15.C/ТКП-1.14.D-1-ТКП-1.15.C-1/ТКП-1.14.D-1-ТКП-1.15.C-1-cache.lib
ТКП-3.14.D-ТКП-3.15.C/ТКП-1.14.D-1-ТКП-1.15.C-1/ТКП-1.14.D-1-ТКП-1.15.C-1.kicad_pcb-bak
ТКП-3.14.D-ТКП-3.15.C/ТКП-1.14.D-1-ТКП-1.15.C-1/ТКП-1.14.D-1-ТКП-1.15.C-1.sch-bak


ТКП-3.17.B/ТКП-1.17.B-1/fp-info-cache
ТКП-3.17.B/ТКП-1.17.B-1/ТКП-1.17.B-1-cache.lib
ТКП-3.17.B/ТКП-1.17.B-1/ТКП-1.17.B-1.kicad_pcb-bak
ТКП-3.17.B/ТКП-1.17.B-1/ТКП-1.17.B-1.sch-bak

ТКП-3.17.B/ТКП-1.17.B-2/fp-info-cache
ТКП-3.17.B/ТКП-1.17.B-2/ТКП-1.17.B-2-cache.lib
ТКП-3.17.B/ТКП-1.17.B-2/ТКП-1.17.B-2.kicad_pcb-bak
ТКП-3.17.B/ТКП-1.17.B-2/ТКП-1.17.B-2.sch-bak


ТКП-3.17.C/ТКП-1.17.C-1/fp-info-cache
ТКП-3.17.C/ТКП-1.17.C-1/ТКП-1.17.C-1-cache.lib
ТКП-3.17.C/ТКП-1.17.C-1/ТКП-1.17.C-1.kicad_pcb-bak
ТКП-3.17.C/ТКП-1.17.C-1/ТКП-1.17.C-1.sch-bak

ТКП-3.17.C/ТКП-1.17.C-2/fp-info-cache
ТКП-3.17.C/ТКП-1.17.C-2/ТКП-1.17.C-2-cache.lib
ТКП-3.17.C/ТКП-1.17.C-2/ТКП-1.17.C-2.kicad_pcb-bak
ТКП-3.17.C/ТКП-1.17.C-2/ТКП-1.17.C-2.sch-bak


ТКП-3.18.A/ТКП-1.18.A-1/fp-info-cache
ТКП-3.18.A/ТКП-1.18.A-1/ТКП-1.18.A-1-cache.lib
ТКП-3.18.A/ТКП-1.18.A-1/ТКП-1.18.A-1.kicad_pcb-bak
ТКП-3.18.A/ТКП-1.18.A-1/ТКП-1.18.A-1.sch-bak

ТКП-3.18.A/ТКП-1.18.A-2/fp-info-cache
ТКП-3.18.A/ТКП-1.18.A-2/ТКП-1.18.A-2-cache.lib
ТКП-3.18.A/ТКП-1.18.A-2/ТКП-1.18.A-2.kicad_pcb-bak
ТКП-3.18.A/ТКП-1.18.A-2/ТКП-1.18.A-2.sch-bak


ТКП-3.19.A/ТКП-1.19.A-1/fp-info-cache
ТКП-3.19.A/ТКП-1.19.A-1/ТКП-1.19.A-1-cache.lib
ТКП-3.19.A/ТКП-1.19.A-1/ТКП-1.19.A-1.kicad_pcb-bak
ТКП-3.19.A/ТКП-1.19.A-1/ТКП-1.19.A-1.sch-bak


ТКП-3.19.B/ТКП-1.19.B-1/fp-info-cache
ТКП-3.19.B/ТКП-1.19.B-1/ТКП-1.19.B-1-cache.lib
ТКП-3.19.B/ТКП-1.19.B-1/ТКП-1.19.B-1.kicad_pcb-bak
ТКП-3.19.B/ТКП-1.19.B-1/ТКП-1.19.B-1.sch-bak

ТКП-3.19.B/ТКП-1.19.B-2/fp-info-cache
ТКП-3.19.B/ТКП-1.19.B-2/ТКП-1.19.B-2-cache.lib
ТКП-3.19.B/ТКП-1.19.B-2/ТКП-1.19.B-2.kicad_pcb-bak
ТКП-3.19.B/ТКП-1.19.B-2/ТКП-1.19.B-2.sch-bak


ТКП-3.20.A/ТКП-1.20.A-1/fp-info-cache
ТКП-3.20.A/ТКП-1.20.A-1/ТКП-1.20.A-1-cache.lib
ТКП-3.20.A/ТКП-1.20.A-1/ТКП-1.20.A-1.kicad_pcb-bak
ТКП-3.20.A/ТКП-1.20.A-1/ТКП-1.20.A-1.sch-bak

ТКП-3.20.A/ТКП-1.20.A-2/fp-info-cache
ТКП-3.20.A/ТКП-1.20.A-2/ТКП-1.20.A-2-cache.lib
ТКП-3.20.A/ТКП-1.20.A-2/ТКП-1.20.A-2.kicad_pcb-bak
ТКП-3.20.A/ТКП-1.20.A-2/ТКП-1.20.A-2.sch-bak

ТКП-3.20.A/ТКП-1.20.A-3/fp-info-cache
ТКП-3.20.A/ТКП-1.20.A-3/ТКП-1.20.A-3-cache.lib
ТКП-3.20.A/ТКП-1.20.A-3/ТКП-1.20.A-3.kicad_pcb-bak
ТКП-3.20.A/ТКП-1.20.A-3/ТКП-1.20.A-3.sch-bak


ТКП-3.20.B/ТКП-1.20.B-1/fp-info-cache
ТКП-3.20.B/ТКП-1.20.B-1/ТКП-1.20.B-1-cache.lib
ТКП-3.20.B/ТКП-1.20.B-1/ТКП-1.20.B-1.kicad_pcb-bak
ТКП-3.20.B/ТКП-1.20.B-1/ТКП-1.20.B-1.sch-bak

ТКП-3.20.B/ТКП-1.20.B-2/fp-info-cache
ТКП-3.20.B/ТКП-1.20.B-2/ТКП-1.20.B-2-cache.lib
ТКП-3.20.B/ТКП-1.20.B-2/ТКП-1.20.B-2.kicad_pcb-bak
ТКП-3.20.B/ТКП-1.20.B-2/ТКП-1.20.B-2.sch-bak

ТКП-3.20.B/ТКП-1.20.B-3/fp-info-cache
ТКП-3.20.B/ТКП-1.20.B-3/ТКП-1.20.B-3-cache.lib
ТКП-3.20.B/ТКП-1.20.B-3/ТКП-1.20.B-3.kicad_pcb-bak
ТКП-3.20.B/ТКП-1.20.B-3/ТКП-1.20.B-3.sch-bak


ТКП-3.21.A/ТКП-1.21.A-1/fp-info-cache
ТКП-3.21.A/ТКП-1.21.A-1/ТКП-1.21.A-1-cache.lib
ТКП-3.21.A/ТКП-1.21.A-1/ТКП-1.21.A-1.kicad_pcb-bak
ТКП-3.21.A/ТКП-1.21.A-1/ТКП-1.21.A-1.sch-bak

ТКП-3.21.A/ТКП-1.21.A-2/fp-info-cache
ТКП-3.21.A/ТКП-1.21.A-2/ТКП-1.21.A-2-cache.lib
ТКП-3.21.A/ТКП-1.21.A-2/ТКП-1.21.A-2.kicad_pcb-bak
ТКП-3.21.A/ТКП-1.21.A-2/ТКП-1.21.A-2.sch-bak

ТКП-3.21.A/ТКП-1.21.A-3/fp-info-cache
ТКП-3.21.A/ТКП-1.21.A-3/ТКП-1.21.A-3-cache.lib
ТКП-3.21.A/ТКП-1.21.A-3/ТКП-1.21.A-3.kicad_pcb-bak
ТКП-3.21.A/ТКП-1.21.A-3/ТКП-1.21.A-3.sch-bak


ТКП-3.22.A/ТКП-1.22.A-1/fp-info-cache
ТКП-3.22.A/ТКП-1.22.A-1/ТКП-1.22.A-1-cache.lib
ТКП-3.22.A/ТКП-1.22.A-1/ТКП-1.22.A-1.kicad_pcb-bak
ТКП-3.22.A/ТКП-1.22.A-1/ТКП-1.22.A-1.sch-bak


ТКП-3.22.B/ТКП-1.22.B-1/fp-info-cache
ТКП-3.22.B/ТКП-1.22.B-1/ТКП-1.22.B-1-cache.lib
ТКП-3.22.B/ТКП-1.22.B-1/ТКП-1.22.B-1.kicad_pcb-bak
ТКП-3.22.B/ТКП-1.22.B-1/ТКП-1.22.B-1.sch-bak


ТКП-3.23.A/ТКП-1.23.A-1/fp-info-cache
ТКП-3.23.A/ТКП-1.23.A-1/ТКП-1.23.A-1-cache.lib
ТКП-3.23.A/ТКП-1.23.A-1/ТКП-1.23.A-1.kicad_pcb-bak
ТКП-3.23.A/ТКП-1.23.A-1/ТКП-1.23.A-1.sch-bak


ТКП-3.23.B/ТКП-1.23.B-1/fp-info-cache
ТКП-3.23.B/ТКП-1.23.B-1/ТКП-1.23.B-1-cache.lib
ТКП-3.23.B/ТКП-1.23.B-1/ТКП-1.23.B-1.kicad_pcb-bak
ТКП-3.23.B/ТКП-1.23.B-1/ТКП-1.23.B-1.sch-bak


ТКП-3.24.A/ТКП-1.24.A-1/fp-info-cache
ТКП-3.24.A/ТКП-1.24.A-1/ТКП-1.24.A-1-cache.lib
ТКП-3.24.A/ТКП-1.24.A-1/ТКП-1.24.A-1.kicad_pcb-bak
ТКП-3.24.A/ТКП-1.24.A-1/ТКП-1.24.A-1.sch-bak

ТКП-3.24.A/ТКП-1.24.A-2/fp-info-cache
ТКП-3.24.A/ТКП-1.24.A-2/ТКП-1.24.A-2-cache.lib
ТКП-3.24.A/ТКП-1.24.A-2/ТКП-1.24.A-2.kicad_pcb-bak
ТКП-3.24.A/ТКП-1.24.A-2/ТКП-1.24.A-2.sch-bak


ТКП-3.24.B/ТКП-1.24.B-1/fp-info-cache
ТКП-3.24.B/ТКП-1.24.B-1/ТКП-1.24.B-1-cache.lib
ТКП-3.24.B/ТКП-1.24.B-1/ТКП-1.24.B-1.kicad_pcb-bak
ТКП-3.24.B/ТКП-1.24.B-1/ТКП-1.24.B-1.sch-bak

ТКП-3.24.B/ТКП-1.24.B-2/fp-info-cache
ТКП-3.24.B/ТКП-1.24.B-2/ТКП-1.24.B-2-cache.lib
ТКП-3.24.B/ТКП-1.24.B-2/ТКП-1.24.B-2.kicad_pcb-bak
ТКП-3.24.B/ТКП-1.24.B-2/ТКП-1.24.B-2.sch-bak

ТКП-3.24.B/ТКП-1.24.B-3/fp-info-cache
ТКП-3.24.B/ТКП-1.24.B-3/ТКП-1.24.B-3-cache.lib
ТКП-3.24.B/ТКП-1.24.B-3/ТКП-1.24.B-3.kicad_pcb-bak
ТКП-3.24.B/ТКП-1.24.B-3/ТКП-1.24.B-3.sch-bak

ТКП-3.24.B/ТКП-1.24.B-4/fp-info-cache
ТКП-3.24.B/ТКП-1.24.B-4/ТКП-1.24.B-4-cache.lib
ТКП-3.24.B/ТКП-1.24.B-4/ТКП-1.24.B-4.kicad_pcb-bak
ТКП-3.24.B/ТКП-1.24.B-4/ТКП-1.24.B-4.sch-bak


ТКП-3.25.A/ТКП-1.25.A-1/fp-info-cache
ТКП-3.25.A/ТКП-1.25.A-1/ТКП-1.25.A-1-cache.lib
ТКП-3.25.A/ТКП-1.25.A-1/ТКП-1.25.A-1.kicad_pcb-bak
ТКП-3.25.A/ТКП-1.25.A-1/ТКП-1.25.A-1.sch-bak


ТКП-3.25.B/ТКП-1.25.B-1/fp-info-cache
ТКП-3.25.B/ТКП-1.25.B-1/ТКП-1.25.B-1-cache.lib
ТКП-3.25.B/ТКП-1.25.B-1/ТКП-1.25.B-1.kicad_pcb-bak
ТКП-3.25.B/ТКП-1.25.B-1/ТКП-1.25.B-1.sch-bak


ТКП-3.26.A/ТКП-1.26.A-1/fp-info-cache
ТКП-3.26.A/ТКП-1.26.A-1/ТКП-1.26.A-1-cache.lib
ТКП-3.26.A/ТКП-1.26.A-1/ТКП-1.26.A-1.kicad_pcb-bak
ТКП-3.26.A/ТКП-1.26.A-1/ТКП-1.26.A-1.sch-bak


ТКП-3.26.B/ТКП-1.26.B-1/fp-info-cache
ТКП-3.26.B/ТКП-1.26.B-1/ТКП-1.26.B-1-cache.lib
ТКП-3.26.B/ТКП-1.26.B-1/ТКП-1.26.B-1.kicad_pcb-bak
ТКП-3.26.B/ТКП-1.26.B-1/ТКП-1.26.B-1.sch-bak

ТКП-3.26.B/ТКП-1.26.B-2/fp-info-cache
ТКП-3.26.B/ТКП-1.26.B-2/ТКП-1.26.B-2-cache.lib
ТКП-3.26.B/ТКП-1.26.B-2/ТКП-1.26.B-2.kicad_pcb-bak
ТКП-3.26.B/ТКП-1.26.B-2/ТКП-1.26.B-2.sch-bak


ТКП-3.26.C/ТКП-1.26.C-1/fp-info-cache
ТКП-3.26.C/ТКП-1.26.C-1/ТКП-1.26.C-1-cache.lib
ТКП-3.26.C/ТКП-1.26.C-1/ТКП-1.26.C-1.kicad_pcb-bak
ТКП-3.26.C/ТКП-1.26.C-1/ТКП-1.26.C-1.sch-bak

ТКП-3.26.C/ТКП-1.26.C-2/fp-info-cache
ТКП-3.26.C/ТКП-1.26.C-2/ТКП-1.26.C-2-cache.lib
ТКП-3.26.C/ТКП-1.26.C-2/ТКП-1.26.C-2.kicad_pcb-bak
ТКП-3.26.C/ТКП-1.26.C-2/ТКП-1.26.C-2.sch-bak


ТКП-3.27.A/ТКП-1.27.A-1/fp-info-cache
ТКП-3.27.A/ТКП-1.27.A-1/ТКП-1.27.A-1-cache.lib
ТКП-3.27.A/ТКП-1.27.A-1/ТКП-1.27.A-1.kicad_pcb-bak
ТКП-3.27.A/ТКП-1.27.A-1/ТКП-1.27.A-1.sch-bak

ТКП-3.27.A/ТКП-1.27.A-2/fp-info-cache
ТКП-3.27.A/ТКП-1.27.A-2/ТКП-1.27.A-2-cache.lib
ТКП-3.27.A/ТКП-1.27.A-2/ТКП-1.27.A-2.kicad_pcb-bak
ТКП-3.27.A/ТКП-1.27.A-2/ТКП-1.27.A-2.sch-bak


ТКП-3.27.B/ТКП-1.27.B-1/fp-info-cache
ТКП-3.27.B/ТКП-1.27.B-1/ТКП-1.27.B-1-cache.lib
ТКП-3.27.B/ТКП-1.27.B-1/ТКП-1.27.B-1.kicad_pcb-bak
ТКП-3.27.B/ТКП-1.27.B-1/ТКП-1.27.B-1.sch-bak

ТКП-3.27.B/ТКП-1.27.B-2/fp-info-cache
ТКП-3.27.B/ТКП-1.27.B-2/ТКП-1.27.B-2-cache.lib
ТКП-3.27.B/ТКП-1.27.B-2/ТКП-1.27.B-2.kicad_pcb-bak
ТКП-3.27.B/ТКП-1.27.B-2/ТКП-1.27.B-2.sch-bak

ТКП-3.27.B/ТКП-1.27.B-3/fp-info-cache
ТКП-3.27.B/ТКП-1.27.B-3/ТКП-1.27.B-3-cache.lib
ТКП-3.27.B/ТКП-1.27.B-3/ТКП-1.27.B-3.kicad_pcb-bak
ТКП-3.27.B/ТКП-1.27.B-3/ТКП-1.27.B-3.sch-bak


ТКП-3.28.A/ТКП-1.28.A-1/fp-info-cache
ТКП-3.28.A/ТКП-1.28.A-1/ТКП-1.28.A-1-cache.lib
ТКП-3.28.A/ТКП-1.28.A-1/ТКП-1.28.A-1.kicad_pcb-bak
ТКП-3.28.A/ТКП-1.28.A-1/ТКП-1.28.A-1.sch-bak


ТКП-3.29.A/ТКП-1.29.A-1/fp-info-cache
ТКП-3.29.A/ТКП-1.29.A-1/ТКП-1.29.A-1-cache.lib
ТКП-3.29.A/ТКП-1.29.A-1/ТКП-1.29.A-1.kicad_pcb-bak
ТКП-3.29.A/ТКП-1.29.A-1/ТКП-1.29.A-1.sch-bak


ТКП-3.30.A/ТКП-1.30.A-1/fp-info-cache
ТКП-3.30.A/ТКП-1.30.A-1/ТКП-1.30.A-1-cache.lib
ТКП-3.30.A/ТКП-1.30.A-1/ТКП-1.30.A-1.kicad_pcb-bak
ТКП-3.30.A/ТКП-1.30.A-1/ТКП-1.30.A-1.sch-bak

ТКП-3.30.A/ТКП-1.30.A-2/fp-info-cache
ТКП-3.30.A/ТКП-1.30.A-2/ТКП-1.30.A-2-cache.lib
ТКП-3.30.A/ТКП-1.30.A-2/ТКП-1.30.A-2.kicad_pcb-bak
ТКП-3.30.A/ТКП-1.30.A-2/ТКП-1.30.A-2.sch-bak

ТКП-3.30.A/ТКП-1.30.A-3/fp-info-cache
ТКП-3.30.A/ТКП-1.30.A-3/ТКП-1.30.A-3-cache.lib
ТКП-3.30.A/ТКП-1.30.A-3/ТКП-1.30.A-3.kicad_pcb-bak
ТКП-3.30.A/ТКП-1.30.A-3/ТКП-1.30.A-3.sch-bak

ТКП-3.30.A/ТКП-1.30.A-4/fp-info-cache
ТКП-3.30.A/ТКП-1.30.A-4/ТКП-1.30.A-4-cache.lib
ТКП-3.30.A/ТКП-1.30.A-4/ТКП-1.30.A-4.kicad_pcb-bak
ТКП-3.30.A/ТКП-1.30.A-4/ТКП-1.30.A-4.sch-bak

ТКП-3.30.A/ТКП-1.30.A-5/fp-info-cache
ТКП-3.30.A/ТКП-1.30.A-5/ТКП-1.30.A-5-cache.lib
ТКП-3.30.A/ТКП-1.30.A-5/ТКП-1.30.A-5.kicad_pcb-bak
ТКП-3.30.A/ТКП-1.30.A-5/ТКП-1.30.A-5.sch-bak

ТКП-3.30.A/ТКП-1.30.A-6/fp-info-cache
ТКП-3.30.A/ТКП-1.30.A-6/ТКП-1.30.A-6-cache.lib
ТКП-3.30.A/ТКП-1.30.A-6/ТКП-1.30.A-6.kicad_pcb-bak
ТКП-3.30.A/ТКП-1.30.A-6/ТКП-1.30.A-6.sch-bak


ТКП-3.30.B/ТКП-1.30.B-1/fp-info-cache
ТКП-3.30.B/ТКП-1.30.B-1/ТКП-1.30.B-1-cache.lib
ТКП-3.30.B/ТКП-1.30.B-1/ТКП-1.30.B-1.kicad_pcb-bak
ТКП-3.30.B/ТКП-1.30.B-1/ТКП-1.30.B-1.sch-bak

ТКП-3.30.B/ТКП-1.30.B-2/fp-info-cache
ТКП-3.30.B/ТКП-1.30.B-2/ТКП-1.30.B-2-cache.lib
ТКП-3.30.B/ТКП-1.30.B-2/ТКП-1.30.B-2.kicad_pcb-bak
ТКП-3.30.B/ТКП-1.30.B-2/ТКП-1.30.B-2.sch-bak

ТКП-3.30.B/ТКП-1.30.B-3/fp-info-cache
ТКП-3.30.B/ТКП-1.30.B-3/ТКП-1.30.B-3-cache.lib
ТКП-3.30.B/ТКП-1.30.B-3/ТКП-1.30.B-3.kicad_pcb-bak
ТКП-3.30.B/ТКП-1.30.B-3/ТКП-1.30.B-3.sch-bak

ТКП-3.30.B/ТКП-1.30.B-4/fp-info-cache
ТКП-3.30.B/ТКП-1.30.B-4/ТКП-1.30.B-4-cache.lib
ТКП-3.30.B/ТКП-1.30.B-4/ТКП-1.30.B-4.kicad_pcb-bak
ТКП-3.30.B/ТКП-1.30.B-4/ТКП-1.30.B-4.sch-bak

ТКП-3.30.B/ТКП-1.30.B-5/fp-info-cache
ТКП-3.30.B/ТКП-1.30.B-5/ТКП-1.30.B-5-cache.lib
ТКП-3.30.B/ТКП-1.30.B-5/ТКП-1.30.B-5.kicad_pcb-bak
ТКП-3.30.B/ТКП-1.30.B-5/ТКП-1.30.B-5.sch-bak

ТКП-3.30.B/ТКП-1.30.B-6/fp-info-cache
ТКП-3.30.B/ТКП-1.30.B-6/ТКП-1.30.B-6-cache.lib
ТКП-3.30.B/ТКП-1.30.B-6/ТКП-1.30.B-6.kicad_pcb-bak
ТКП-3.30.B/ТКП-1.30.B-6/ТКП-1.30.B-6.sch-bak


ТКП-3.31.A/ТКП-1.31.A-1/fp-info-cache
ТКП-3.31.A/ТКП-1.31.A-1/ТКП-1.31.A-1-cache.lib
ТКП-3.31.A/ТКП-1.31.A-1/ТКП-1.31.A-1.kicad_pcb-bak
ТКП-3.31.A/ТКП-1.31.A-1/ТКП-1.31.A-1.sch-bak

ТКП-3.31.A/ТКП-1.31.A-2/fp-info-cache
ТКП-3.31.A/ТКП-1.31.A-2/ТКП-1.31.A-2-cache.lib
ТКП-3.31.A/ТКП-1.31.A-2/ТКП-1.31.A-2.kicad_pcb-bak
ТКП-3.31.A/ТКП-1.31.A-2/ТКП-1.31.A-2.sch-bak

ТКП-3.31.A/ТКП-1.31.A-3/fp-info-cache
ТКП-3.31.A/ТКП-1.31.A-3/ТКП-1.31.A-3-cache.lib
ТКП-3.31.A/ТКП-1.31.A-3/ТКП-1.31.A-3.kicad_pcb-bak
ТКП-3.31.A/ТКП-1.31.A-3/ТКП-1.31.A-3.sch-bak

ТКП-3.31.A/ТКП-1.31.A-4/fp-info-cache
ТКП-3.31.A/ТКП-1.31.A-4/ТКП-1.31.A-4-cache.lib
ТКП-3.31.A/ТКП-1.31.A-4/ТКП-1.31.A-4.kicad_pcb-bak
ТКП-3.31.A/ТКП-1.31.A-4/ТКП-1.31.A-4.sch-bak

ТКП-3.31.A/ТКП-1.31.A-5/fp-info-cache
ТКП-3.31.A/ТКП-1.31.A-5/ТКП-1.31.A-5-cache.lib
ТКП-3.31.A/ТКП-1.31.A-5/ТКП-1.31.A-5.kicad_pcb-bak
ТКП-3.31.A/ТКП-1.31.A-5/ТКП-1.31.A-5.sch-bak

ТКП-3.31.A/ТКП-1.31.A-6/fp-info-cache
ТКП-3.31.A/ТКП-1.31.A-6/ТКП-1.31.A-6-cache.lib
ТКП-3.31.A/ТКП-1.31.A-6/ТКП-1.31.A-6.kicad_pcb-bak
ТКП-3.31.A/ТКП-1.31.A-6/ТКП-1.31.A-6.sch-bak

ТКП-3.31.A/ТКП-1.31.A-7/fp-info-cache
ТКП-3.31.A/ТКП-1.31.A-7/ТКП-1.31.A-7-cache.lib
ТКП-3.31.A/ТКП-1.31.A-7/ТКП-1.31.A-7.kicad_pcb-bak
ТКП-3.31.A/ТКП-1.31.A-7/ТКП-1.31.A-7.sch-bak

ТКП-3.31.A/ТКП-1.31.A-8/fp-info-cache
ТКП-3.31.A/ТКП-1.31.A-8/ТКП-1.31.A-8-cache.lib
ТКП-3.31.A/ТКП-1.31.A-8/ТКП-1.31.A-8.kicad_pcb-bak
ТКП-3.31.A/ТКП-1.31.A-8/ТКП-1.31.A-8.sch-bak


ТКП-3.32.A/ТКП-1.32.A-1/fp-info-cache
ТКП-3.32.A/ТКП-1.32.A-1/ТКП-1.32.A-1-cache.lib
ТКП-3.32.A/ТКП-1.32.A-1/ТКП-1.32.A-1.kicad_pcb-bak
ТКП-3.32.A/ТКП-1.32.A-1/ТКП-1.32.A-1.sch-bak


ТКП-3.33.A/ТКП-1.33.A-1/fp-info-cache
ТКП-3.33.A/ТКП-1.33.A-1/ТКП-1.33.A-1-cache.lib
ТКП-3.33.A/ТКП-1.33.A-1/ТКП-1.33.A-1.kicad_pcb-bak
ТКП-3.33.A/ТКП-1.33.A-1/ТКП-1.33.A-1.sch-bak


ТКП-3.34.A/ТКП-1.34.A-1/fp-info-cache
ТКП-3.34.A/ТКП-1.34.A-1/ТКП-1.34.A-1-cache.lib
ТКП-3.34.A/ТКП-1.34.A-1/ТКП-1.34.A-1.kicad_pcb-bak
ТКП-3.34.A/ТКП-1.34.A-1/ТКП-1.34.A-1.sch-bak


ТКП-3.35.A/fp-info-cache
ТКП-3.35.A/ТКП-3.35.A-cache.lib
ТКП-3.35.A/ТКП-3.35.A.kicad_pcb-bak
ТКП-3.35.A/ТКП-3.35.A.sch-bak


ТКП-3.36.A/fp-info-cache
ТКП-3.36.A/ТКП-3.36.A-cache.lib
ТКП-3.36.A/ТКП-3.36.A.kicad_pcb-bak
ТКП-3.36.A/ТКП-3.36.A.sch-bak


ТКП-3.37.A/ТКП-1.35.A-1/fp-info-cache
ТКП-3.37.A/ТКП-1.35.A-1/ТКП-1.35.A-1-cache.lib
ТКП-3.37.A/ТКП-1.35.A-1/ТКП-1.35.A-1.kicad_pcb-bak
ТКП-3.37.A/ТКП-1.35.A-1/ТКП-1.35.A-1.sch-bak

ТКП-3.37.A/ТКП-1.35.A-2/fp-info-cache
ТКП-3.37.A/ТКП-1.35.A-2/ТКП-1.35.A-2-cache.lib
ТКП-3.37.A/ТКП-1.35.A-2/ТКП-1.35.A-2.kicad_pcb-bak
ТКП-3.37.A/ТКП-1.35.A-2/ТКП-1.35.A-2.sch-bak

ТКП-3.37.A/ТКП-1.35.A-3/fp-info-cache
ТКП-3.37.A/ТКП-1.35.A-3/ТКП-1.35.A-3-cache.lib
ТКП-3.37.A/ТКП-1.35.A-3/ТКП-1.35.A-3.kicad_pcb-bak
ТКП-3.37.A/ТКП-1.35.A-3/ТКП-1.35.A-3.sch-bak


ТКП-3.38.A/ТКП-1.36.A-1/fp-info-cache
ТКП-3.38.A/ТКП-1.36.A-1/ТКП-1.36.A-1-cache.lib
ТКП-3.38.A/ТКП-1.36.A-1/ТКП-1.36.A-1.kicad_pcb-bak
ТКП-3.38.A/ТКП-1.36.A-1/ТКП-1.36.A-1.sch-bak

ТКП-3.38.A/ТКП-1.36.A-2/fp-info-cache
ТКП-3.38.A/ТКП-1.36.A-2/ТКП-1.36.A-2-cache.lib
ТКП-3.38.A/ТКП-1.36.A-2/ТКП-1.36.A-2.kicad_pcb-bak
ТКП-3.38.A/ТКП-1.36.A-2/ТКП-1.36.A-2.sch-bak

ТКП-3.38.A/ТКП-1.36.A-3/fp-info-cache
ТКП-3.38.A/ТКП-1.36.A-3/ТКП-1.36.A-3-cache.lib
ТКП-3.38.A/ТКП-1.36.A-3/ТКП-1.36.A-3.kicad_pcb-bak
ТКП-3.38.A/ТКП-1.36.A-3/ТКП-1.36.A-3.sch-bak

ТКП-3.38.A/ТКП-1.36.A-4/fp-info-cache
ТКП-3.38.A/ТКП-1.36.A-4/ТКП-1.36.A-4-cache.lib
ТКП-3.38.A/ТКП-1.36.A-4/ТКП-1.36.A-4.kicad_pcb-bak
ТКП-3.38.A/ТКП-1.36.A-4/ТКП-1.36.A-4.sch-bak


ТКП-3.39.A/ТКП-1.37.A-1/fp-info-cache
ТКП-3.39.A/ТКП-1.37.A-1/ТКП-1.37.A-1-cache.lib
ТКП-3.39.A/ТКП-1.37.A-1/ТКП-1.37.A-1.kicad_pcb-bak
ТКП-3.39.A/ТКП-1.37.A-1/ТКП-1.37.A-1.sch-bak

ТКП-3.39.A/ТКП-1.37.A-2/fp-info-cache
ТКП-3.39.A/ТКП-1.37.A-2/ТКП-1.37.A-2-cache.lib
ТКП-3.39.A/ТКП-1.37.A-2/ТКП-1.37.A-2.kicad_pcb-bak
ТКП-3.39.A/ТКП-1.37.A-2/ТКП-1.37.A-2.sch-bak

ТКП-3.39.A/ТКП-1.37.A-3/fp-info-cache
ТКП-3.39.A/ТКП-1.37.A-3/ТКП-1.37.A-3-cache.lib
ТКП-3.39.A/ТКП-1.37.A-3/ТКП-1.37.A-3.kicad_pcb-bak
ТКП-3.39.A/ТКП-1.37.A-3/ТКП-1.37.A-3.sch-bak


ТКП-3.40.A/ТКП-1.38.A-1/fp-info-cache
ТКП-3.40.A/ТКП-1.38.A-1/ТКП-1.38.A-1-cache.lib
ТКП-3.40.A/ТКП-1.38.A-1/ТКП-1.38.A-1.kicad_pcb-bak
ТКП-3.40.A/ТКП-1.38.A-1/ТКП-1.38.A-1.sch-bak

ТКП-3.40.A/ТКП-1.38.A-2/fp-info-cache
ТКП-3.40.A/ТКП-1.38.A-2/ТКП-1.38.A-2-cache.lib
ТКП-3.40.A/ТКП-1.38.A-2/ТКП-1.38.A-2.kicad_pcb-bak
ТКП-3.40.A/ТКП-1.38.A-2/ТКП-1.38.A-2.sch-bak


ТКП-3.41.A/ТКП-1.39.A-1/fp-info-cache
ТКП-3.41.A/ТКП-1.39.A-1/ТКП-1.39.A-1-cache.lib
ТКП-3.41.A/ТКП-1.39.A-1/ТКП-1.39.A-1.kicad_pcb-bak
ТКП-3.41.A/ТКП-1.39.A-1/ТКП-1.39.A-1.sch-bak

ТКП-3.41.A/ТКП-1.39.A-2/fp-info-cache
ТКП-3.41.A/ТКП-1.39.A-2/ТКП-1.39.A-2-cache.lib
ТКП-3.41.A/ТКП-1.39.A-2/ТКП-1.39.A-2.kicad_pcb-bak
ТКП-3.41.A/ТКП-1.39.A-2/ТКП-1.39.A-2.sch-bak

ТКП-3.41.A/ТКП-1.39.A-3/fp-info-cache
ТКП-3.41.A/ТКП-1.39.A-3/ТКП-1.39.A-3-cache.lib
ТКП-3.41.A/ТКП-1.39.A-3/ТКП-1.39.A-3.kicad_pcb-bak
ТКП-3.41.A/ТКП-1.39.A-3/ТКП-1.39.A-3.sch-bak


ТКП-3.42.A/fp-info-cache
ТКП-3.42.A/ТКП-3.42.A-cache.lib
ТКП-3.42.A/ТКП-3.42.A.kicad_pcb-bak
ТКП-3.42.A/ТКП-3.42.A.sch-bak


ТКП-3.43.A/fp-info-cache
ТКП-3.43.A/ТКП-3.43.A-cache.lib
ТКП-3.43.A/ТКП-3.43.A.kicad_pcb-bak
ТКП-3.43.A/ТКП-3.43.A.sch-bak
