ТКП-3.17.B/ТКП-1.17.B-1/fp-info-cache
ТКП-3.17.B/ТКП-1.17.B-1/ТКП-1.17.B-1-cache.lib
ТКП-3.17.B/ТКП-1.17.B-1/ТКП-1.17.B-1.kicad_pcb-bak
ТКП-3.17.B/ТКП-1.17.B-1/ТКП-1.17.B-1.sch-bak


ТКП-3.19.B/ТКП-1.19.B-1/fp-info-cache
ТКП-3.19.B/ТКП-1.19.B-1/ТКП-1.19.B-1-cache.lib
ТКП-3.19.B/ТКП-1.19.B-1/ТКП-1.19.B-1.kicad_pcb-bak
ТКП-3.19.B/ТКП-1.19.B-1/ТКП-1.19.B-1.sch-bak

ТКП-3.19.B/ТКП-1.19.B-2/fp-info-cache
ТКП-3.19.B/ТКП-1.19.B-2/ТКП-1.19.B-2-cache.lib
ТКП-3.19.B/ТКП-1.19.B-2/ТКП-1.19.B-2.kicad_pcb-bak
ТКП-3.19.B/ТКП-1.19.B-2/ТКП-1.19.B-2.sch-bak


ТКП-3.20.A/ТКП-1.20.A-1/fp-info-cache
ТКП-3.20.A/ТКП-1.20.A-1/ТКП-1.20.A-1-cache.lib
ТКП-3.20.A/ТКП-1.20.A-1/ТКП-1.20.A-1.kicad_pcb-bak
ТКП-3.20.A/ТКП-1.20.A-1/ТКП-1.20.A-1.sch-bak

ТКП-3.20.A/ТКП-1.20.A-2/fp-info-cache
ТКП-3.20.A/ТКП-1.20.A-2/ТКП-1.20.A-2-cache.lib
ТКП-3.20.A/ТКП-1.20.A-2/ТКП-1.20.A-2.kicad_pcb-bak
ТКП-3.20.A/ТКП-1.20.A-2/ТКП-1.20.A-2.sch-bak

ТКП-3.20.A/ТКП-1.20.A-3/fp-info-cache
ТКП-3.20.A/ТКП-1.20.A-3/ТКП-1.20.A-3-cache.lib
ТКП-3.20.A/ТКП-1.20.A-3/ТКП-1.20.A-3.kicad_pcb-bak
ТКП-3.20.A/ТКП-1.20.A-3/ТКП-1.20.A-3.sch-bak


ТКП-3.20.B/ТКП-1.20.B-1/fp-info-cache
ТКП-3.20.B/ТКП-1.20.B-1/ТКП-1.20.B-1-cache.lib
ТКП-3.20.B/ТКП-1.20.B-1/ТКП-1.20.B-1.kicad_pcb-bak
ТКП-3.20.B/ТКП-1.20.B-1/ТКП-1.20.B-1.sch-bak

ТКП-3.20.B/ТКП-1.20.B-2/fp-info-cache
ТКП-3.20.B/ТКП-1.20.B-2/ТКП-1.20.B-2-cache.lib
ТКП-3.20.B/ТКП-1.20.B-2/ТКП-1.20.B-2.kicad_pcb-bak
ТКП-3.20.B/ТКП-1.20.B-2/ТКП-1.20.B-2.sch-bak

ТКП-3.20.B/ТКП-1.20.B-3/fp-info-cache
ТКП-3.20.B/ТКП-1.20.B-3/ТКП-1.20.B-3-cache.lib
ТКП-3.20.B/ТКП-1.20.B-3/ТКП-1.20.B-3.kicad_pcb-bak
ТКП-3.20.B/ТКП-1.20.B-3/ТКП-1.20.B-3.sch-bak


ТКП-3.21.A/ТКП-1.21.A-1/fp-info-cache
ТКП-3.21.A/ТКП-1.21.A-1/ТКП-1.21.A-1-cache.lib
ТКП-3.21.A/ТКП-1.21.A-1/ТКП-1.21.A-1.kicad_pcb-bak
ТКП-3.21.A/ТКП-1.21.A-1/ТКП-1.21.A-1.sch-bak

ТКП-3.21.A/ТКП-1.21.A-2/fp-info-cache
ТКП-3.21.A/ТКП-1.21.A-2/ТКП-1.21.A-2-cache.lib
ТКП-3.21.A/ТКП-1.21.A-2/ТКП-1.21.A-2.kicad_pcb-bak
ТКП-3.21.A/ТКП-1.21.A-2/ТКП-1.21.A-2.sch-bak


ТКП-3.23.A/ТКП-1.23.A-1/fp-info-cache
ТКП-3.23.A/ТКП-1.23.A-1/ТКП-1.23.A-1-cache.lib
ТКП-3.23.A/ТКП-1.23.A-1/ТКП-1.23.A-1.kicad_pcb-bak
ТКП-3.23.A/ТКП-1.23.A-1/ТКП-1.23.A-1.sch-bak


ТКП-3.23.B/ТКП-1.23.B-1/fp-info-cache
ТКП-3.23.B/ТКП-1.23.B-1/ТКП-1.23.B-1-cache.lib
ТКП-3.23.B/ТКП-1.23.B-1/ТКП-1.23.B-1.kicad_pcb-bak
ТКП-3.23.B/ТКП-1.23.B-1/ТКП-1.23.B-1.sch-bak


ТКП-3.24.B/ТКП-1.24.B-1/fp-info-cache
ТКП-3.24.B/ТКП-1.24.B-1/ТКП-1.24.B-1-cache.lib
ТКП-3.24.B/ТКП-1.24.B-1/ТКП-1.24.B-1.kicad_pcb-bak
ТКП-3.24.B/ТКП-1.24.B-1/ТКП-1.24.B-1.sch-bak

ТКП-3.24.B/ТКП-1.24.B-2/fp-info-cache
ТКП-3.24.B/ТКП-1.24.B-2/ТКП-1.24.B-2-cache.lib
ТКП-3.24.B/ТКП-1.24.B-2/ТКП-1.24.B-2.kicad_pcb-bak
ТКП-3.24.B/ТКП-1.24.B-2/ТКП-1.24.B-2.sch-bak

ТКП-3.24.B/ТКП-1.24.B-3/fp-info-cache
ТКП-3.24.B/ТКП-1.24.B-3/ТКП-1.24.B-3-cache.lib
ТКП-3.24.B/ТКП-1.24.B-3/ТКП-1.24.B-3.kicad_pcb-bak
ТКП-3.24.B/ТКП-1.24.B-3/ТКП-1.24.B-3.sch-bak

ТКП-3.24.B/ТКП-1.24.B-4/fp-info-cache
ТКП-3.24.B/ТКП-1.24.B-4/ТКП-1.24.B-4-cache.lib
ТКП-3.24.B/ТКП-1.24.B-4/ТКП-1.24.B-4.kicad_pcb-bak
ТКП-3.24.B/ТКП-1.24.B-4/ТКП-1.24.B-4.sch-bak


ТКП-3.26.B/ТКП-1.26.B-1/fp-info-cache
ТКП-3.26.B/ТКП-1.26.B-1/ТКП-1.26.B-1-cache.lib
ТКП-3.26.B/ТКП-1.26.B-1/ТКП-1.26.B-1.kicad_pcb-bak
ТКП-3.26.B/ТКП-1.26.B-1/ТКП-1.26.B-1.sch-bak


ТКП-3.26.C/ТКП-1.26.C-1/fp-info-cache
ТКП-3.26.C/ТКП-1.26.C-1/ТКП-1.26.C-1-cache.lib
ТКП-3.26.C/ТКП-1.26.C-1/ТКП-1.26.C-1.kicad_pcb-bak
ТКП-3.26.C/ТКП-1.26.C-1/ТКП-1.26.C-1.sch-bak


ТКП-3.27.B/ТКП-1.27.B-1/fp-info-cache
ТКП-3.27.B/ТКП-1.27.B-1/ТКП-1.27.B-1-cache.lib
ТКП-3.27.B/ТКП-1.27.B-1/ТКП-1.27.B-1.kicad_pcb-bak
ТКП-3.27.B/ТКП-1.27.B-1/ТКП-1.27.B-1.sch-bak

ТКП-3.27.B/ТКП-1.27.B-2/fp-info-cache
ТКП-3.27.B/ТКП-1.27.B-2/ТКП-1.27.B-2-cache.lib
ТКП-3.27.B/ТКП-1.27.B-2/ТКП-1.27.B-2.kicad_pcb-bak
ТКП-3.27.B/ТКП-1.27.B-2/ТКП-1.27.B-2.sch-bak

ТКП-3.27.B/ТКП-1.27.B-3/fp-info-cache
ТКП-3.27.B/ТКП-1.27.B-3/ТКП-1.27.B-3-cache.lib
ТКП-3.27.B/ТКП-1.27.B-3/ТКП-1.27.B-3.kicad_pcb-bak
ТКП-3.27.B/ТКП-1.27.B-3/ТКП-1.27.B-3.sch-bak


ТКП-3.38.A/ТКП-1.36.A-1/fp-info-cache
ТКП-3.38.A/ТКП-1.36.A-1/ТКП-1.36.A-1-cache.lib
ТКП-3.38.A/ТКП-1.36.A-1/ТКП-1.36.A-1.kicad_pcb-bak
ТКП-3.38.A/ТКП-1.36.A-1/ТКП-1.36.A-1.sch-bak

ТКП-3.38.A/ТКП-1.36.A-2/fp-info-cache
ТКП-3.38.A/ТКП-1.36.A-2/ТКП-1.36.A-2-cache.lib
ТКП-3.38.A/ТКП-1.36.A-2/ТКП-1.36.A-2.kicad_pcb-bak
ТКП-3.38.A/ТКП-1.36.A-2/ТКП-1.36.A-2.sch-bak


ТКП-3.39.A/ТКП-1.37.A-1/fp-info-cache
ТКП-3.39.A/ТКП-1.37.A-1/ТКП-1.37.A-1-cache.lib
ТКП-3.39.A/ТКП-1.37.A-1/ТКП-1.37.A-1.kicad_pcb-bak
ТКП-3.39.A/ТКП-1.37.A-1/ТКП-1.37.A-1.sch-bak

ТКП-3.39.A/ТКП-1.37.A-2/fp-info-cache
ТКП-3.39.A/ТКП-1.37.A-2/ТКП-1.37.A-2-cache.lib
ТКП-3.39.A/ТКП-1.37.A-2/ТКП-1.37.A-2.kicad_pcb-bak
ТКП-3.39.A/ТКП-1.37.A-2/ТКП-1.37.A-2.sch-bak

ТКП-3.39.A/ТКП-1.37.A-3/fp-info-cache
ТКП-3.39.A/ТКП-1.37.A-3/ТКП-1.37.A-3-cache.lib
ТКП-3.39.A/ТКП-1.37.A-3/ТКП-1.37.A-3.kicad_pcb-bak
ТКП-3.39.A/ТКП-1.37.A-3/ТКП-1.37.A-3.sch-bak


ТКП-3.40.A/ТКП-1.38.A-1/fp-info-cache
ТКП-3.40.A/ТКП-1.38.A-1/ТКП-1.38.A-1-cache.lib
ТКП-3.40.A/ТКП-1.38.A-1/ТКП-1.38.A-1.kicad_pcb-bak
ТКП-3.40.A/ТКП-1.38.A-1/ТКП-1.38.A-1.sch-bak
