ТКП-3.19.B/ТКП-1.19.B-1/fp-info-cache
ТКП-3.19.B/ТКП-1.19.B-1/ТКП-1.19.B-1-cache.lib
ТКП-3.19.B/ТКП-1.19.B-1/ТКП-1.19.B-1.kicad_pcb-bak
ТКП-3.19.B/ТКП-1.19.B-1/ТКП-1.19.B-1.sch-bak

ТКП-3.19.B/ТКП-1.19.B-2/fp-info-cache
ТКП-3.19.B/ТКП-1.19.B-2/ТКП-1.19.B-2-cache.lib
ТКП-3.19.B/ТКП-1.19.B-2/ТКП-1.19.B-2.kicad_pcb-bak
ТКП-3.19.B/ТКП-1.19.B-2/ТКП-1.19.B-2.sch-bak
